---
- name: restart ssh
  ansible.builtin.service:
    name: ssh
    state: restarted

- name: reload ufw
  ansible.builtin.command: ufw reload
  changed_when: false

- name: restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted
