---
# 1) nettoyage anciennes règles polkit user-only
- name: Supprimer anciennes règles polkit libvirt (doublons / per-user)
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/polkit-1/rules.d/50-libvirt.rules
    - /etc/polkit-1/rules.d/50-libvirt-jd.rules

# 2) déployer règle unique basée sur groupes
- name: Polkit libvirt (group-based)
  ansible.builtin.template:
    src: 49-org.libvirt.rules.j2
    dest: /etc/polkit-1/rules.d/49-org.libvirt.rules
    owner: root
    group: root
    mode: '0644'

# 3) UFW:  autoriser cockpit uniquement depuis admin_cidr
- name: UFW autoriser Cockpit seulement depuis admin_cidr
  when: admin_cidr is defined and admin_cidr|length > 0
  community.general.ufw:
    rule: allow
    port: '9090'
    proto: tcp
    src: "{{ admin_cidr }}"
  notify: reload ufw

# 4) Override cockpit.socket bind IP si fournie
- name: Créer dossier d’override cockpit.socket si bind IP
  when: (cockpit_bind_ip | default('')) | length > 0
  ansible.builtin.file:
    path: /etc/systemd/system/cockpit.socket.d
    state: directory
    mode: '0755'

- name: Déployer override de socket (si bind IP)
  when: (cockpit_bind_ip | default('')) | length > 0
  ansible.builtin.template:
    src: cockpit-override.conf.j2
    dest: /etc/systemd/system/cockpit.socket.d/override.conf
    mode: '0644'
  notify:
    - daemon-reload
    - restart cockpit

# 5) Redémarrer libvirt best-effort selon distrib
- name: Redémarrer service libvirt si présent
  ansible.builtin.service:
    name: "{{ (ansible_facts['os_family'] == 'Debian') | ternary('libvirt-daemon', 'libvirtd') }}"
    state: restarted
  ignore_errors: true
