---
- hosts: local
  gather_facts: false
  tasks:
    - debug:
        msg:
          enable_totp: "{{ enable_totp | default('UNDEF') }}"
          admin_cidr: "{{ admin_cidr | default('UNDEF') }}"
          ssh_allow_cidrs: "{{ ssh_allow_cidrs | default('UNDEF') }}"
